*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  overflow: hidden;
}

.ͼ4y .cm-gutters {
  background-color: transparent !important;
}

.ͼ3 .cm-gutters {
  background-color: transparent !important;
}

.ͼ16 {
  background-color: transparent !important;
}

.ͼ4y {
  background-color: transparent !important;
}

.json-highlight {
  background: yellow;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 2px;
}
